apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus
  namespace: observability
spec:
  replicas: 1

  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: prometheus
  template:
    metadata:
      labels:
        app: prometheus
    spec:
      serviceAccountName: prometheus
      containers:
      - name: prometheus
        image: prom/prometheus:v2.52.0
        args:
        - "--config.file=/etc/prometheus/prometheus.yml"  #where scrape rules live
        - "--storage.tsdb.path=/prometheus"  #where metrics are stored on disk
        - "--storage.tsdb.retention.time=15d" #how long data is kept , here 15 days.
        ports:
        - containerPort: 9090
        volumeMounts: #“Prometheus stores metrics on disk, so I mounted a Persistent Volume at /prometheus.”
        - name: config
          mountPath: /etc/prometheus #config file path
        - name: storage
          mountPath: /prometheus #data storage path
      volumes:
      - name: config
        configMap:
          name: prometheus-config
      - name: storage
        persistentVolumeClaim:
          claimName: prometheus-pvc
